@import "@/styles/variables";

.container {
  height: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  padding: $spacing-xs;

  .empty {
    margin: auto 0;
    text-align: center;
    font-weight: 500;
  }

  .filter {
    // justify-content: space-evenly;
    display: flex;
    align-items: center;
    gap: $spacing-sm;
  }

  .players {
    flex: 1;
    overflow-y: auto;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    .player {
      width: 100%;
      border: 1px solid $bg-200;
      border-radius: 8px;
      padding: $spacing-xxs $spacing-xs;
      display: flex;
      align-items: center;

      .left {
        flex: 1;

        .dragHandle {
          display: flex;
          align-items: center;
          cursor: grab;

          svg {
            height: 18px;
            width: 18px;
          }
        }
      }

      .image {
        display: flex;
        align-items: center;

        img {
          height: 38px;
          width: 38px;
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid $bg-100;
        }
      }

      .name {
        font-size: $text-md;
        font-weight: 500;
        color: $color-title;
        text-transform: capitalize;
        line-height: 1;
      }

      .role {
        color: $color-label;
        font-size: $text-sm;
        font-weight: 500;
      }

      .actions {
        display: flex;
        align-items: center;
        gap: $spacing-xs;
      }
    }
  }
}
