@import "@/styles/variables";

.container {
  width: 100%;
  padding: $spacing-md;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-sm;
  justify-content: center;

  &.fullPage {
    min-height: 100vh;
    height: 100%;
  }

  .loader {
    width: 45px;
    aspect-ratio: 1;
    position: relative;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset $primary;
    animation: l5 4s infinite;
  }
  .loader:after {
    animation-delay: -2s;
  }
  @keyframes l5 {
    0% {
      inset: 0 25px 25px 0;
    }
    12.5% {
      inset: 0 25px 0 0;
    }
    25% {
      inset: 25px 25px 0 0;
    }
    37.5% {
      inset: 25px 0 0 0;
    }
    50% {
      inset: 25px 0 0 25px;
    }
    62.5% {
      inset: 0 0 0 25px;
    }
    75% {
      inset: 0 0 25px 25px;
    }
    87.5% {
      inset: 0 0 25px 0;
    }
    100% {
      inset: 0 25px 25px 0;
    }
  }
}
