@import "@/styles/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $bg-100;
  position: relative;

  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .box {
    width: 550px;
    max-width: 100%;
    border-radius: 10px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    background-color: $primary-100;
    box-shadow: $shadow-100;

    .title {
      font-size: $text-2xl;
      font-weight: bold;
      text-align: center;
      color: $color-title;
    }

    .desc {
      font-size: $text-lg;
      text-align: center;
      color: $color-desc;
    }

    button {
      font-size: 18px;
      font-weight: 600;
      width: 100%;
      position: relative;
      max-width: 400px;
      overflow: hidden;
      cursor: default;
    }

    .actualGoogleButton {
      position: absolute;
      opacity: 0.03;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
    }
  }

  @media (max-width: $breakpoint-md) {
    padding: 20px;

    .box {
      padding: $spacing-md $spacing-sm;
      display: flex;
      gap: $spacing-md;

      .title {
        font-size: $text-xl;
      }

      .desc {
        font-size: $text-md;
      }

      button {
        font-size: $text-md;
        font-weight: 400;
      }
    }
  }
}
