@import "@/styles/variables";

.container {
  gap: $spacing-sm;

  .cardOuter.active {
    .card {
      background-color: $primary-100;

      .cardInner {
        background-color: $primary-100;
      }

      &::before,
      &::after {
        content: "";
      }
    }
  }

  @keyframes rotating {
    0%,
    100% {
      top: 0;
      left: 0;
    }
    25% {
      top: 0;
      left: 100%;
    }
    50% {
      top: 100%;
      left: 100%;
    }
    75% {
      top: 100%;
      left: 0%;
    }
  }

  .cardOuter {
    align-self: stretch;
    width: 150px;
    max-width: 150px;
    flex-grow: 1;
    border-radius: 10px;
    position: relative;
    box-shadow: $shadow-lifted-200;

    .turnTag,
    .timer {
      position: absolute;
      top: 0;
      right: 6px;
      font-size: $text-sm;
      line-height: 1;
      padding: $spacing-xxs $spacing-xs;
      border-radius: 20px;
      z-index: 20;
      transform: translateY(-50%);
      background-color: $primary;
      color: $white;
      line-height: 1;
    }

    .timer {
      min-width: 55px;
      text-align: center;
      right: auto;
      left: 6px;
      background-color: $bg;
      border: 2px solid $primary;
      color: $primary;
    }
  }

  .card {
    height: 100%;
    border-radius: inherit;
    padding: 3px;
    background-color: $bg;
    position: relative;
    overflow: hidden;
    box-shadow: none;

    &::before,
    &::after {
      content: none;
      position: absolute;
      top: 0%;
      left: 0%;
      border-radius: 50%;
      background-color: $primary;
      box-shadow: 0 0 30px 20px $primary;
      height: 25px;
      width: 25px;
      animation: rotating 8s cubic-bezier(0.05, 0.74, 1, 0.35) infinite;
      transform: translate(-50%, -50%);
      z-index: 5;
    }

    &::after {
      animation-delay: -4s;
    }

    .cardInner {
      background-color: $bg;
      z-index: 15;
      width: 100%;
      height: 100%;
      padding: $spacing-sm;
      border-radius: inherit;
      display: flex;
      flex-direction: column;
      gap: $spacing-xs;
      align-items: center;
      align-self: stretch;

      .image {
        display: flex;
        align-items: center;

        img {
          height: 60px;
          width: 60px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid $bg-100;
        }
      }

      .name {
        text-align: center;
        font-size: $text-sm;
        font-weight: 500;
        color: $color-title;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        width: 120px;
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
        // overflow: hidden;
        // text-overflow: ellipsis;
      }

      button {
        margin-top: auto;
        white-space: nowrap;
      }
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    background-color: $primary-100;
    padding: $spacing-sm;
    border-radius: 5px;

    .title {
      font-size: $text-md;
      font-weight: 400;

      span {
        font: inherit;
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    button {
      svg {
        height: 16px;
        width: 16px;
      }
    }
  }

  .playersOuter {
    width: 100%;
    display: flex;
    overflow: auto;
    padding: $spacing-xs 0;

    .players {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      gap: $spacing-xs;
    }
  }

  .matches {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-sm;

    .match {
      width: 180px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: $spacing-xs;
      border-radius: 10px;
      background-color: $white;
      padding: $spacing-xs;

      .title {
        text-align: center;
        font-size: $text-xs;
        font-weight: 500;
        text-transform: capitalize;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .teams {
        display: flex;
        gap: $spacing-sm;
        justify-content: center;

        .team {
          display: flex;
          flex-direction: column;
          gap: $spacing-xxs;
          align-items: center;

          img {
            height: 20px;
            width: 35px;
            border-radius: 5px;
            overflow: hidden;
            object-fit: cover;
          }

          .name {
            font-size: $text-xs;
            text-align: center;
            font-weight: 400;
            line-height: 1.3;
            max-width: 60px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .vs {
          font-weight: 500;
          font-size: $text-sm;
        }
      }

      .text {
        margin-top: $spacing-xs;
        font-size: $text-sm;
        text-align: center;
        line-height: 1.3;
        font-weight: 500;
      }
    }
  }
}
