@import "@/styles/variables";

.scoringSystemContainer {
  background-color: $bg;
  padding: $spacing-lg;
  border-radius: $spacing-md;
  color: $color-desc;

  * {
    line-height: 1.75;
  }

  strong {
    font-weight: 500;
  }

  h1.title {
    margin-top: $spacing-xs;
    color: $color-heading;
    font-size: $text-3xl;
    font-weight: 500;
    margin-bottom: $spacing-md;
    text-align: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
  }

  .section {
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 $spacing-md;

      h2 {
        font-size: $text-2xl;
        margin-bottom: 0;
      }

      .image {
        display: flex;
        align-items: center;

        img {
          width: 200px;
          height: 120px;
          object-position: top center;
          object-fit: cover;
        }
      }
    }

    h2 {
      color: $color-title;
      font-size: $text-xl;
      font-weight: 500;
      margin-bottom: $spacing-sm;
    }
  }

  .card {
    background-color: $bg;
    border-radius: $spacing-sm;
    padding: $spacing-md;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: $spacing-md;
    margin-top: $spacing-xs;

    h3 {
      color: $color-title;
      font-size: $text-xl;
      font-weight: 400;
      margin-bottom: $spacing-sm;
    }

    p {
      font-size: $text-md;
      color: $color-desc;
      margin-bottom: $spacing-sm;
    }

    .bigList {
      display: flex;
      flex-direction: column;
      gap: $spacing-md;

      ul {
        margin-bottom: 0;
      }

      .title {
        list-style: decimal;
        font-size: $text-md;
        font-weight: 500;
        color: $color-desc;
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
      }
    }

    ul {
      list-style-type: none;
      padding-left: $spacing-sm;
      margin-bottom: $spacing-sm;

      li {
        list-style: circle;
        font-weight: 400;
        margin-bottom: $spacing-xs;
      }
    }
  }

  .bigList {
    & > div {
      padding: $spacing-md;

      &:nth-child(odd) {
        background-color: $bg-200;
      }

      & > li {
        font-size: $text-xl;
        list-style: none;
        font-weight: 400;
      }

      ul {
        padding-left: $spacing-md;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .scoringSystemContainer {
    padding: $spacing-md;

    h1.title {
      font-size: $text-xl;
    }

    .section {
      h2 {
        font-size: $text-lg;
      }

      .card {
        padding: $spacing-sm;

        h3 {
          font-size: $text-lg;
        }

        ul li {
          font-size: $text-sm;
        }
      }
    }
  }
}
