$white: var(--var-white);
$black: var(--var-black);
$blue: var(--var-blue);
$red: var(--var-red);
$red-100: var(--var-red-100);
$red-200: var(--var-red-200);
$green: var(--var-green);
$green-100: var(--var-green-100);
$green-200: var(--var-green-200);
$grey-100: var(--var-bg-100);
$grey-200: var(--var-bg-200);
$grey-300: var(--var-bg-300);
$green-300: var(--var-green-300);
$yellow: var(--var-yellow);
$yellow-100: var(--var-yellow-100);

$color-heading: var(--var-color-heading);
$color-title: var(--var-color-title);
$color-label: var(--var-color-label);
$color-desc: var(--var-color-desc);
$color-button: var(--var-color-button);
$bg: var(--var-bg);
$bg-100: var(--var-bg-100);
$bg-200: var(--var-bg-200);
$bg-300: var(--var-bg-300);

$text-xxs: var(--var-text-xxs);
$text-xs: var(--var-text-xs);
$text-sm: var(--var-text-sm);
$text-md: var(--var-text-md);
$text-lg: var(--var-text-lg);
$text-xl: var(--var-text-xl);
$text-2xl: var(--var-text-2xl);
$text-3xl: var(--var-text-3xl);
$text-4xl: var(--var-text-4xl);
$text-5xl: var(--var-text-5xl);
$text-6xl: var(--var-text-6xl);

$spacing-xxs: var(--var-spacing-xxs);
$spacing-xs: var(--var-spacing-xs);
$spacing-2xs: var(--var-spacing-2xs);
$spacing-sm: var(--var-spacing-sm);
$spacing-md: var(--var-spacing-md);
$spacing-lg: var(--var-spacing-lg);
$spacing-xl: var(--var-spacing-xl);
$spacing-2xl: var(--var-spacing-2xl);

$primary-2: var(--var-primary-2);
$primary: var(--var-primary);
$primary-100: var(--var-primary-100);
$primary-200: var(--var-primary-200);
$gradient-1: var(--gradient-1);

$shadow-100: var(--var-shadow-100);
$shadow-200: var(--var-shadow-200);
$shadow-lifted-100: var(--var-shadow-lifted-100);
$shadow-lifted-200: var(--var-shadow-lifted-200);

$breakpoint-md: 768px;
$breakpoint-sm: 550px;
