@import "@/styles/variables";

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  row-gap: 10px;

  & > div {
    flex: 1;
    min-width: 100px;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
}

.flex-col-xxs {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxs;
}

.flex-col-xs {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 10px;
  align-items: center;
  gap: 20px;
}

.flexBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;

  label {
    font-size: $text-md;
    font-weight: 400;
    color: $color-label;
  }
}

.modal-container {
  width: 1100px;
  max-width: 100%;
  padding: $spacing-md;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: $spacing-md;
}

.spacious-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-sm;
  row-gap: $spacing-xs;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  .title {
    font-size: $text-lg;
    font-weight: 500;
    color: $color-title;
  }
}

.gap-lg {
  gap: $spacing-lg;
}
.gap-xl {
  gap: $spacing-xl;
}
.gap-2xl {
  gap: $spacing-2xl;
}

@media (max-width: $breakpoint-md) {
  .page-container {
    gap: $spacing-sm;
    padding: $spacing-sm;
  }

  .row {
    flex-direction: column;
  }

  .col {
    row-gap: 15px;
  }
}

@media (max-width: $breakpoint-sm) {
}
