@import "@/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  .matches {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;

    .match.selected {
      background-color: $primary-200;
      border-color: $primary-200;

      .top {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: $primary;

        * {
          color: $white;
        }

        &:hover {
          background-color: $primary;
        }
      }
    }

    .match {
      border: 1px solid $bg-200;
      background-color: $white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;

      .top {
        padding: $spacing-xs $spacing-sm;
        border-radius: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: $bg-100;
        }

        .left {
          .title {
            font-weight: 500;
            font-size: $text-md;
          }
        }

        .icon {
          display: flex;
          align-items: center;

          svg {
            height: 18px;
            width: 18px;
          }
        }
      }

      .teams {
        display: flex;
        gap: $spacing-sm;
        justify-content: center;
        align-items: center;

        .team {
          display: flex;
          flex-direction: column;
          gap: $spacing-xxs;
          align-items: center;

          img {
            width: 70px;
            aspect-ratio: 1 / 0.58;
            border-radius: 5px;
            overflow: hidden;
            object-fit: cover;
          }

          .name {
            font-size: $text-sm;
            text-align: center;
            font-weight: 400;
            line-height: 1.3;
            max-width: 60px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .vs {
          height: fit-content;
          font-weight: 500;
          font-size: $text-sm;
        }
      }

      .tableOuter {
        padding: 0;
        overflow-x: auto;
        width: 100%;
      }

      .overlayTable {
        position: absolute;
        background-color: $primary-200;
      }

      .table {
        width: max-content;
        border-collapse: collapse;

        th:first-child {
          text-align: start;
        }

        th,
        td {
          padding: $spacing-xs;
          text-align: center;
          font-size: $text-sm;
        }

        td.name {
          text-transform: capitalize;
          text-align: start;
          vertical-align: middle;

          svg {
            margin: auto;
            margin-right: $spacing-xxs;
            height: 14px;
            width: 14px;
            color: $primary;
          }

          span {
            font: inherit;
            font-size: $text-xs;
          }
        }

        th {
          color: $color-title;
          font-weight: bold;
          text-transform: capitalize;
        }

        td {
          color: $color-desc;
        }

        tr:nth-child(even) {
          background-color: $bg-100;
        }
      }

      .players {
        padding: $spacing-xs $spacing-sm;
        display: flex;
        gap: $spacing-xs;
        flex-wrap: wrap;
        align-items: center;
      }
    }
  }
}
