@import "@/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: $spacing-md;
  width: 800px;
  max-width: 100%;

  .information {
    display: flex;
    align-items: center;
    gap: $spacing-sm;

    .playerImage {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .playerInfo {
      display: flex;
      flex-direction: column;

      .playerName {
        font-size: $text-md;
        color: $color-heading;
        font-weight: 500;
        margin: 0;

        span {
          font: inherit;
          font-size: 0.8em;
        }
      }

      .playerCountry,
      .playingRole {
        font-size: $text-sm;
        color: $color-label;
        margin: 0;
      }
    }
  }

  .stats {
    margin-top: $spacing-md;
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    max-width: 100%;
    overflow-x: auto;

    .title {
      font-size: $text-sm;
      color: $color-title;
    }
  }
}
