@import "@/styles/variables.scss";

.simpleArray {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  flex-wrap: wrap;

  & > div {
    width: 100px;
  }

  .delete {
    transform: translate(50%, -90%);
    padding: $spacing-xxs;

    &:hover {
      svg {
        color: $red;
      }
    }

    svg {
      height: 13px;
      width: 13px;
      color: $color-desc;
    }
  }
}

.container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .section {
    margin-bottom: 2rem;
    position: relative;
    background-color: $bg;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    .mainHeading {
      font-size: $text-xl;
      font-weight: 700;
      color: $primary;
    }

    .subHeading {
      font-size: $text-md;
      font-weight: 500;
      padding-top: $spacing-xs;
    }

    .subSection {
      padding-bottom: $spacing-sm;
      display: flex;
      flex-direction: column;
      gap: $spacing-xs;
      border-bottom: 1px solid $primary;

      &:last-child {
        border-bottom: none;
      }

      .subSection_row {
        display: flex;
        align-items: flex-start;
        gap: $spacing-md;
        margin-bottom: $spacing-sm;

        .deleteIcon {
          cursor: pointer;
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .link {
        font-size: $text-sm;
        cursor: pointer;
      }
    }
  }
}
