@import "@/styles/variables.scss";

.container {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .section {
    margin-bottom: 2rem;
    position: relative;
    background-color: $bg;
    border-radius: 8px;

    .mainHeading {
      font-size: $text-xl;
      font-weight: 700;
      color: $primary;
      margin-bottom: $spacing-sm;
    }

    .subHeading {
      font-size: $text-md;
      font-weight: 500;
      padding-bottom: $spacing-xs;
    }

    .subSection {
      border-bottom: 1px solid $primary;
      margin-bottom: $spacing-sm;

      &:last-child {
        border-bottom: none;
      }

      .subSection_row {
        display: flex;
        align-items: center;
        gap: $spacing-md;
        margin-bottom: $spacing-sm;

        .deleteIcon {
          cursor: pointer;
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .link {
        font-size: $text-sm;
        margin: $spacing-sm 0;
        cursor: pointer;
      }
    }
  }
}
