@import "@/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  .search {
    .icon {
      display: flex;
      align-items: center;

      svg {
        height: 16px;
        width: 16px;
      }
    }
  }

  .playersOuter {
    width: 100%;
    display: flex;
    overflow: auto;
    padding: $spacing-xs 0;

    .players {
      max-height: 500px;
      // width: max-content;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-md;
      padding: $spacing-md $spacing-xs;
    }

    .player.picked {
      background-color: $primary-200;
    }

    .player {
      width: 140px;
      flex-grow: 1;
      border-radius: 10px;
      padding: $spacing-sm;
      border: 1px solid $bg-200;
      background-color: $bg-100;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacing-xs;
      position: relative;

      .pickedImage {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 8px;
        transform: translateY(-50%);
        border-radius: 50%;
        padding: 2px;
        background-color: $primary;

        img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          border: none;
        }
      }

      img {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        border: 1px solid $bg-100;
      }

      .name {
        text-transform: capitalize;
        font-size: $text-sm;
        font-weight: 500;
        text-align: center;

        width: 130px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .score {
        text-align: center;
        font-size: $text-sm;
        text-transform: capitalize;

        span {
          font: inherit;
          font-weight: 600;
        }
      }
    }
  }
}
