@import "@/styles/variables";

.line {
  width: 120px;
  height: 4px;
  background-color: $blue;
  position: relative;
  border-radius: 8px;
}
.line::before {
  content: " ";
  width: 5px;
  height: 4px;
  position: absolute;
  left: 0%;
  background-color: $white;
  animation: animate 3s linear infinite;
}
@keyframes animate {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
