@import "@/styles/variables";

.logo {
  width: fit-content;
  display: flex;
  gap: $spacing-xs;
  align-items: center;
  cursor: pointer;
  transition: 300ms;

  &.large {
    .image img {
      height: 60px;
      width: 60px;
    }

    .text {
      font-size: $text-3xl;
    }
  }

  &.grayed {
    .image {
      img {
        filter: grayscale(1);
      }
    }
  }

  .image {
    display: flex;
    align-items: center;
    transition: 200ms;

    img {
      height: 45px;
      width: 45px;
    }
  }

  .text {
    color: $color-title;
    font-size: $text-lg;
    font-weight: 500;
    line-height: 1;
    transition: 200ms;
    white-space: nowrap;
  }

  @media (max-width: $breakpoint-md) {
    .image img {
      height: 22px;
      width: 22px;
    }

    &.large {
      .image img {
        height: 35px;
        width: 35px;
      }

      .text {
        font-size: $text-xl;
      }
    }

    .text {
      font-size: $text-lg;
    }
  }
}
