@import "@/styles/variables";

.logo {
  display: flex;
  gap: $spacing-xs;
  align-items: flex-end;
  cursor: pointer;

  &.large {
    .image {
      height: 55px;
      width: 55px;
    }

    .text {
      font-size: $text-3xl;
    }
  }

  &.grayed {
    .image {
      img {
        filter: grayscale(1);
      }
    }
  }

  .image {
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    transition: 200ms;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .text {
    font-size: $text-xl;
    font-weight: 500;
    line-height: 1;
    transition: 200ms;
  }

  @media (max-width: $breakpoint-md) {
    .image {
      height: 30px;
      width: 30px;
    }

    &.large {
      .image {
        height: 40px;
        width: 40px;
      }

      .text {
        font-size: $text-2xl;
      }
    }

    .text {
      font-size: $text-xl;
    }
  }
}
