@import "@/styles/variables";

.navbar {
  background-color: $bg;
  display: flex;
  gap: $spacing-xs;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-sm $spacing-md;
  z-index: 20;
}
