@import "@/styles/variables";

.modalContainer {
  width: 1400px;
  max-width: 100%;
  gap: $spacing-lg;

  .heading {
    font-weight: 500;
    font-size: $text-xl;
  }
  p {
    font-size: $text-sm;
  }
}

.createForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-md;
}

.section {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.searchSection {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.players {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xs;
  max-height: 400px;
  overflow-y: auto;
  padding: $spacing-xxs;

  .smallButton {
    margin: auto;
    margin-top: $spacing-xxs;
    font-size: $text-xs;
    padding: $spacing-xxs $spacing-xs;
  }
}
