@import "@/styles/variables";

.container {
  position: sticky;
  top: 0;

  .teams {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;

    .team {
      width: 100%;
      border: 1px solid $bg-200;
      border-radius: 8px;
      padding: $spacing-xs $spacing-sm;
      display: flex;
      align-items: center;

      .left {
        flex: 1;
      }

      .image {
        display: flex;
        align-items: center;

        img {
          height: 38px;
          width: 38px;
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid $bg-100;
        }
      }

      .name {
        font-size: $text-md;
        font-weight: 500;
        color: $color-title;
        text-transform: capitalize;
        line-height: 1;
      }

      .right {
        display: flex;
        gap: $spacing-xs;
        align-items: center;

        .label {
          width: 60px;
          font-size: $text-sm;
          font-weight: 500;
          color: $color-label;
          text-align: center;
        }

        .score {
          font-size: $text-md;
          text-align: center;
          width: 60px;
        }

        .rank {
          font-size: $text-xl;
          font-weight: 600;
          text-align: center;
          width: 60px;
        }
      }
    }
  }
}
