@import "@/styles/variables";

.container {
  .main {
    display: flex;

    .mainLeft {
      width: 66%;
      display: flex;
      flex-direction: column;
      gap: $spacing-lg;

      .information {
        display: flex;
        gap: $spacing-xs;
        align-items: center;

        label {
          font-size: $text-md;
          color: $color-label;
          font-weight: 400;
        }

        p {
          font-size: $text-md;
          color: $color-title;
          font-weight: 500;
        }
      }
    }

    .mainRight {
      width: 34%;
      display: flex;
      flex-direction: column;
      gap: $spacing-md;
      align-self: stretch;
    }
  }
}
