@import "@/styles/variables";

.container {
  min-height: fit-content;
  min-width: fit-content;
  width: 100%;
  padding: $spacing-md;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-sm;
  border: 1px solid $bg-200;
  background-color: $bg;
  border-radius: 6px;
  box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
  z-index: 1;
  transition: 300ms;

  h1 {
    font-size: $text-xl;
  }

  .subText {
    text-align: center;
  }
}

.nonHorizontal {
  background: linear-gradient(to bottom, $primary 50%, $bg 50%);
  background-size: 100% 200%;
  background-position: bottom;
  transition: background-position 0.5s ease;
  transition: 300ms;

  .icon {
    font-size: 50px;
    color: $primary;
    transition: 100ms;
  }

  &:hover {
    background-position: top;
    border-color: $primary;

    .icon {
      color: $white;
    }

    h1 {
      color: $white;
    }

    .subText {
      color: $white !important;
    }
  }
}

.horizontal3D {
  background-color: $bg;
  position: relative;
  transition: 500ms ease-in-out;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
    transform: translateY(-10px);
    border-color: $white;

    .horizontalDiv {
      animation: animate 500ms;
      animation-fill-mode: forwards;
      animation-delay: 50ms;
    }
    .iconWrapper {
      background-color: $white;
    }
    .icon {
      color: $primary;
    }

    h1 {
      color: $white;
    }

    .subText {
      color: $white;
      text-align: center;
    }
  }

  .iconWrapper {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: $primary;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 100ms ease;
  }
  .icon {
    color: $white;
    transition: color 100ms ease;
  }
  .horizontalDiv {
    position: absolute;
    width: 0%;
    background-color: $primary;
    height: 100%;
    z-index: -12;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}

@keyframes animate {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
