@import "@/styles/variables";

.container {
  min-height: fit-content;
  min-width: fit-content;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-sm;
  border: 1px solid $grey-200;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  h1 {
    font-size: $text-xl;
  }
}

.nonHorizontal {
  background: linear-gradient(to bottom, $primary 50%, $grey-200 50%);
  background-size: 100% 200%;
  background-position: bottom;
  transition: background-position 0.5s ease;

  .icon {
    font-size: 50px;
    color: $primary;
    transition: color 0.1s ease;
  }

  &:hover {
    background-position: top;
    border: 1px solid $primary;

    .icon {
      color: $white;
    }

    h1 {
      color: $white;
    }

    p {
      color: $white !important;
    }
  }
}

.horizontal3D {
  background-color: $grey-200;
  position: relative;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  .iconWrapper {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: $primary;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 100ms ease;
  }
  .icon {
    color: $white;
    transition: color 100ms ease;
  }
  .horizontalDiv {
    position: absolute;
    width: 0%;
    background-color: $primary;
    height: 100%;
    z-index: -12;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  &:hover {
    transform: translateY(-3%);
    border: 2px solid $white;
    .horizontalDiv {
      animation: animate 500ms;
      animation-fill-mode: forwards;
    }
    .iconWrapper {
      background-color: $white;
    }
    .icon {
      color: $primary;
    }

    h1 {
      color: $white;
    }

    p {
      color: $white !important;
    }
  }
}

@keyframes animate {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
