@import "@/styles/variables";

.container {
  height: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: $spacing-xs;

  .empty {
    text-align: center;
    font-size: $text-md;
    font-weight: 500;
    margin: auto 0;
  }

  .activity {
    padding: 8px 15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    border-bottom: 1px solid $bg-200;

    &:nth-child(even) {
      background-color: $primary-200;
    }

    &:last-child {
      border-bottom: none;
    }

    .top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .time {
        font-size: $text-md;
        color: $color-label;
        font-weight: 500;
      }
    }

    .title {
      font-size: $text-md;
      font-weight: 600;
      color: $color-title;
      line-height: 1.4;
    }

    .desc {
      font-size: $text-sm;
      line-height: 1.5;
      font-weight: 500;
      color: $color-desc;
    }
  }

  @media (max-width: $breakpoint-md) {
    .activity {
      .top {
        .time {
          font-size: $text-sm;
        }
      }

      .title {
        font-size: $text-sm;
      }

      .desc {
        font-size: $text-xs;
      }
    }
  }
}
