@import "@/styles/variables";

.container {
  .greetingsBox {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }

  .greetings {
    font-size: $text-3xl;
    font-weight: 500;
    width: fit-content;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;

    .cards {
      gap: $spacing-lg;

      .contestCard {
        flex-grow: 1;
        width: 400px;
        align-self: stretch;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    .greetings {
      font-size: $text-xl;
    }
  }
}
