@import "@/styles/variables";

.container {
  .section {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;

    .cards {
      gap: $spacing-lg;

      .contestCard {
        flex-grow: 1;
        width: 400px;
        align-self: stretch;
      }
    }
  }
}
